<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="bounds">
    
    <div class="content" >
  
      <div fxFlex="15" class="sec1" fxFlex.xs="55">

        <div style="position: relative;justify-content: right;">
          <mat-icon id="notificacion" matBadge="1" matBadgeColor="red"><span class="material-icons"> notifications </span></mat-icon>
        
          


          <mat-expansion-panel id="persona" >
            <mat-expansion-panel-header>
              <img src=".\assets\imagenes\persona.jpg" id="logoCuenta"  alt="">              
              <div>
                <mat-panel-title>
                  Alejandro Gaviglio
                </mat-panel-title>
                <mat-panel-description>
                  Gaviglio SA
                </mat-panel-description>
              </div>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
        
        </div>
        


      </div>



      <div fxFlex="30" class="sec2" style="background-color: #e6e6e6;">
        <div class="contenedorsec2">
          <h2 id="solicitudPago">Solicitudes de pago</h2>

          <mat-form-field id="filtro">
            <mat-label>Filtro </mat-label>
              <mat-select>
                <mat-option>asdsas</mat-option>
              </mat-select>         
          </mat-form-field>

         </div>

        <div id="contieneOpciones">
        <mat-expansion-panel class="opciones" style="margin-top: 15px; height: 80px;" >
          <mat-expansion-panel-header>
            <img  src=".\assets\imagenes\foto.png" class="avatar" alt=""> 
            <div style="margin-top: 25px;"> 
             
                <mat-panel-title>
                  
                  $123.000
                  <mat-chip style="margin-left: 25px;" color="accent" selected>Pendiente</mat-chip>
                </mat-panel-title>
                
                
              
              <mat-panel-description>
                Juan Jimenez, pago con canje
              </mat-panel-description>
            </div>
            
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="opciones" style="margin-top: 15px;height: 80px;" >
          <mat-expansion-panel-header>
            <img  src=".\assets\imagenes\mujer1.jpg" class="avatar" alt=""> 
            <div>
              <br>
              <mat-panel-title>
                
                $123.000
                <mat-chip style="margin-left: 25px;" color="primary" selected>Definido</mat-chip>
              </mat-panel-title>
              <mat-panel-description>
                Maite Aigañaras, pago con canje
              </mat-panel-description>
            </div>
            
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="opciones" style="margin-top: 15px;height: 80px;" >
          <mat-expansion-panel-header>
            <img  src=".\assets\imagenes\hombre1.jpg" class="avatar" alt=""> 
            <div>
              <br>
              <mat-panel-title>
                
                $123.000
                <mat-chip style="margin-left: 25px;" color="accent" selected>Pendiente</mat-chip>
              </mat-panel-title>
              <mat-panel-description>
                Joaquin Perez, pago con canje

              </mat-panel-description>
            </div>
           
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </div>
     
      
    </div>
    

    <div fxFlex="55" class="sec3" fxFlex.xs="15">
			
		</div>








  </div>
  </div>
  
</body>
</html>
